<div class="wrapper">
  <ul id="hexGrid">
    <li class="hex" (mouseover)="abc()" (mouseleave)=leave() *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <div class="hexFront">
        <div class="hexIn">
          <div class="hexInner">
            <img src="https://picsum.photos/500/?random" alt="#" />
          </div>
        </div>
      </div>
      <div class="hexBack">
        <div class="hexIn">
          <div class="hexInner">
            <p *ngIf="flag"> {{namevar}} </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>



<br>
<button class="cn-button" id="cn-button" (mouseover)="abc()" (mouseleave)=leave()>+</button>
<div *ngIf="flag">
  {{namevar}}
</div>
